{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>SCIRE Design - RENO Santa Fe</p>
        <p>📌 San Jerónimo 3198</p>
        <p>⏰ Lun a Vier 8 a 12hs - 15 a 18:30hs | Sab 8 a 12hs</p>
        <p>📲wsp 342-5826359</p>
        <p>Mail: <a href="#">sciredesign.renosantafe@gmail.com</a></p>
        <p>San jeronimo 3198, Santa Fe, Santa Fe 3000</p>
        <p><a href="#">www.amoblamientosreno.com</a></p>
    </div>
</div>
{% endblock %}